<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8"/>
            <title>Cyber Bank</title>
        </head>
    <body>

        <h1>Bem vindo ao Cyber Bank - Sacar</h1>
        <br/>

        <form action="/sacar/salvar" method="post">
            <input type="radio" id="tpConta" name="tpConta" value="1" checked> Conta Corrente
            <input type="radio" id="tpConta" name="tpConta" value="2"> Conta Poupança
            <br/>
            <input type="text" id="numeroConta" name="numeroConta" placeholder="Informe o número da conta" required>
            <br/>
            <input type="text" id="valorSaque" name="valorSaque" placeholder="Informe o valor a ser sacado" required>
            <br/>
            <input type="submit" value="Salvar" />
        </form>
        <form action="/sacar/cancelar" method="post">
            <input type="submit" value="Cancelar" />    
        </form>

    </body>
</html>