<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8"/>
            <title>Cyber Bank</title>
        </head>
    <body>

        <h1>Bem vindo ao Cyber Bank - Abrindo Conta</h1>
        <br/>

        <form action="/conta" method="post">
            <h2>Já existe uma conta aberta para este tipo e número.</h2>
            <br/>
            <input type="submit" value="Voltar" />
        </form>

    </body>
</html>