<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Cyber Bank</title>
		</head>
	<body>

		<h1>Bem vindo ao Cyber Bank</h1>
        <br/>


        <form action="/conta/criar" method="post">
            <input type="submit" value="Nova Conta" />
        </form>
        <form action="/conta/depositar" method="post">
            <input type="submit" value="Depositar" />
        </form>
        <form action="/conta/sacar" method="post">
            <input type="submit" value="Sacar" />
        </form>


	</body>
</html>